WorkingWithImages/WorkingWithImages/WorkingWithImages.Android/obj/
WorkingWithImages/WorkingWithImages/WorkingWithImages.iOS/obj/
WorkingWithImages/WorkingWithImages/WorkingWithImages.Android/bin/
WorkingWithImages/WorkingWithImages/WorkingWithImages/bin/
WorkingWithImages/WorkingWithImages/WorkingWithImages/obj/
